* {
    /* Eliminates L to R scroll on header */
    box-sizing: border-box;
}
*:focus{
    /* Removes outline when focusing  */
    outline: none;
}
body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    background-color: #00003c;
}
/* Hide the scrollbar while still being able to scroll */
body::-webkit-scrollbar {
    display: none;
}
html{
    scroll-behavior: smooth;
}
.header{
    /* causes header to hug left and right borders */
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    background-color: lightcyan;
    border-bottom: 2px solid #00003c;
    padding-top: 20px;
    padding-bottom: 15px;
    /* header is 9% of the viewport */
    height: 9vh; 
}
li{
    /* Places gaps between navbar items */
    padding-left: 15px;
    padding-right: 15px;
}
.navbar{
    flex-basis: 100%;
    display: flex;
    /* removes bullet points */
    list-style: none;
    /* centers text vertically */
    margin: auto;   
    /* centers text horizontally */
    justify-content: center; 
    
}  
.m-blocking-box{
    position: absolute;
    z-index: 1;
    background-color: lightcyan;
    left: 0px;
    width: 41px;
    height: 33px;
    top: 7px;
}
.m-logo{
    position: absolute;
    z-index: 2;
    left: 35px;
    top: -5px;
    background-color: #00003c;
    color: #b3e8f7!important;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 38px!important;
    display: flex!important;
    justify-content: center;
    /* spin animation */
    transition: transform .7s ease-in-out;
}
.m-logo:hover {
    transform: rotate(360deg);
}
.m-logo:hover~#show-on-hover{
    display: block;
    transform: translateX(210px);
}
.m-logo-btn{
    text-decoration: none;
}
.m-logo-btn:hover{
    color: #b3e8f7;
}
.m-name {
    /* slide in from left on logo hover */
    /* display: none;  */
    position: absolute;
    left: -130px;
    top: 0px;
    color: #00003c;
    font-size: 32px;
    z-index: 0;
    transition: transform 0.5s
}
.m-name:hover {
    display: block;
    transform: translateX(210px);
}
.navbar-item{
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    padding-bottom: 5px;
    color: #00003c;
    text-decoration: none;
    /* Below is for underline transition  */
    background-image: linear-gradient(#00003c, #00003c);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}
.navbar-item:hover,
.navbar-item:focus,
.navbar-item:active{
    background-size: 100% 0.1em;
    text-decoration: none;
    color:#00003c;
}
.fixed-position-socials-links{
    position: fixed;
    border: 1px solid #b3e8f7;
    fill: black;
    width: 1px;
    height: 100px;
    bottom: 0;
    right: 40px;
}
.logo-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -15px;
    top: -155px;
    gap: 10px;
}
.logo{
    filter: invert(93%) sepia(5%) saturate(2691%) hue-rotate(162deg) brightness(92%) contrast(111%);
    width: 30px;
}
a{
    color: #b3e8f7;
}
.intro{
    width: 50%;
    height: 100vh;
    /* color: lightcyan; */
    color: #b3e8f7;
    margin: auto;
    align-items: start!important;
    justify-content: center;
}
.line-2{
    font-size: 72px;
    text-shadow: 4px 4px 2px #36454f;
}
.section-about-me{
    /* Each section takes up minimum the entire viewport */
    height: 100vh;
}
.title{
    color: #b3e8f7;
    font-size: 64px;
    text-shadow: 4px 4px 2px #36454f;
    padding-top: 9vh;
    padding-left: 50px;
}
.content{
    color: #b3e8f7;
    font-size: 22px;
}
#about-me-content{
    display: flex;
    gap: 80px;
    padding: 100px 300px 0px 300px
}
.headshot{
    width: 200px
}
.section-projects{
    height: 195vh
}
.section-books{
    height: 185vh;
}
.section-intro{
    /* display: flex; */
    font-size: 20px;
    color: #b3e8f7;
    padding-top: 25px;
    padding-left: 50px;
}
#books-content, #projects-content{
    /* display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 100px 300px 0px 300px;
    gap: 80px; */
    
    
    > .row {
        display: flex;
        flex-direction: row;
        padding: 100px 300px 0px 300px;
        > .grid-item-cover {
            border: 1px solid #b3e8f7;
            width: 200px;
            padding: 0%;
            /* flex-basis: 25%; */
        }
        > .project-grid-item-cover {
            border: 1px solid #b3e8f7;
            width: 500px;
            padding: 0%;
        }
        > .grid-item-text {
            font-size: 22px;
            flex-basis: 75%;

            >.book-title{
                font-size: 29px;
                text-decoration: underline;
            }
        }
        > .project-grid-item-text{
            font-size: 22px;
            flex-basis: 50%;
            
            >.project-title{
                font-size: 29px;
                text-decoration: underline;
            }
        }
    }
}
.section-resume{
    height: 100vh;
}
.resume-content{
    display: flex;
    gap: 250px;
    justify-content: center;
    padding-top: 50px;
    color: #b3e8f7
}
.resume-column{
    width: 376px;
}
.subtitle{
    font-size: 29px;
    border-bottom: 2px solid #b3e8f7;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.list-title{
    font-size: 23px;

    >.list-subtitle{
        font-size: 16px;
    }
}
.section-contact{
    height: 44vh;

}
.contact-information{
    font-size: 20px;
    color: #b3e8f7;
    padding-top: 25px;
    padding-left: 50px;
}


